<footer>
  <div class="container-fluid">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <p class="text-left">Copyright &copy; 2017 Hasty Parking</p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <ul class="text-right social">
        <li><a href="https://www.facebook.com/rentthatspacenow/"> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-facebook fa-stack-1x"></i> </span></a></li>
        <li><a href="https://twitter.com/HastyParking"> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-twitter fa-stack-1x"></i> </span></a></li>
        <li><a href="#"> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-instagram fa-stack-1x"></i> </span> </a></li>
        <li><a href="#"> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-google-plus fa-stack-1x"></i> </span> </a></li>
      </ul>
    </div>
  </div>
</footer>