 <!doctype html>
<html lang="en" ng-app="app" ng-controller="bookingDetails" ng-init="bookingdetail();">
<head>
<meta charset="utf-8">
<title>Hasty Parking | Booked Details Page</title>
<!-- Bootstrap -->
<link href="website/css/bootstrap.min.css" rel="stylesheet">
<link href="website/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link href="website/css/styles.css" rel="stylesheet">
<link href="website/css/responsive.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="website/css/lightbox.min.css">
<link rel="stylesheet" href="website/css/owl.carousel.min.css">
<link rel="stylesheet" href="website/css/owl.theme.default.min.css">
<script type="text/javascript" src="website/js/angularjs/default/angular.min.js"></script>
<script type="text/javascript" src="website/js/angularjs/webjs/app.js"></script>
<!-- <script type="text/javascript" src="website/js/angularjs/webjs/designer/bookingdetails.js"></script> -->
<script type="text/javascript" src="website/js/angularjs/webjs/designer/dropdown.js"></script>
<link href="website/css/alert_plug.css" rel="stylesheet">
<script src="website/js/alert_plug.js"></script>
<script>

 function myMap() 
    {
      app.controller('bookingDetails',['$scope','$http',function($scope,$http){
  
      console.log('bookingdetails called');
      $scope.bookingdetail = function(req,res){
       $http({
                method  : 'POST',
                url     : __appurl + "website/spacehistorydetails",
                data    : {status:"1"},
                headers : { 'Content-Type': 'application/json' }  
            })
            .success(function(data) { 
              console.log("Inside Controller Search Result")
              if(data.status){
              
                console.log(data.Searched_details[0].title);
               $scope.getdetails = data.Searched_details[0];
               $scope.startdate = data.startdate;
               $scope.enddate = data.enddate;
               $scope.totalhours = data.duration;
               $scope.totalamount = data.amount;
               console.log('duration-->'+$scope.totalhours+' totalamount'+$scope.totalamount);

               console.log('get details-->'+$scope.getdetails.title);
               console.log($scope.startdate);
               console.log($scope.enddate);
           
              var map;
              var bounds = new google.maps.LatLngBounds();
              var mapOptions = {
                  mapTypeId: 'roadmap'
              };
                        
              map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);
              map.setTilt(50);
        
              var infoWindow = new google.maps.InfoWindow(), marker;
            
                  var pinIcon = new google.maps.MarkerImage(
                  "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FF0000",
                  null, /* size is determined at runtime */
                  null, /* origin is 0,0 */
                  null, /* anchor is bottom center of the scaled image */
                  new google.maps.Size(40, 60)
                  ); 


                var position = new google.maps.LatLng(data.Searched_details[0].latlong[0],data.Searched_details[0].latlong[1]);
                bounds.extend(position);
                marker = new google.maps.Marker({
                  position: position,
                  map: map
                });
              
                // Add info window to marker    
                google.maps.event.addListener(marker, 'click', (function(marker) {
                    return function() {
                        
                        infoWindow.open(map, marker);
                    }
                })(marker));

                // Center the map to fit all markers on the screen
                map.fitBounds(bounds);
              

              // Set zoom level
              var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
                  this.setZoom(18);
                  google.maps.event.removeListener(boundsListener);
              })
            
           
          }
          else
          {
              notif({
                      type: "success",
                      msg: data.message,
                      position: "right"
                    });
                    console.log("false");
          }
           });
        },
  $scope.signout = function(){

        $http({
                method  : 'POST',
                url     : __appurl + "website/user_logout",
                data    : {status:"1"},
                headers : { 'Content-Type': 'application/json' }  
            })
            .success(function(data) {
              if(data.status){
                window.location.href = 'login'
              }
              else
              {
                 notif({
                      type: "success",
                      msg: data.message,
                      position: "right"
                    });
                    console.log("false");                
              }
            })
            .error( function (data){
               console.log(data) ;
            });

    }         
  
        }]);
          
    }
            
  
</script>

</head>

<body>
<header>
 <div class="container-fluid">
    <div class="col-md-12">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Mobile Menu</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand logo text-uppercase" href="/website/index"><b>Hasty</b>Parking</a> </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" ng-controller="dropdown_ctrl">  
            <li><a href="#">Book Parking</a></li>
            <li class="active"><a href="/website/rentspace">Rent Your Space</a></li>
            <li><a href="/website/freeparking">Free Parking</a></li>
            <% include ./partials/headerUserProfile %>
          </ul>
        </div>
        <!-- /.navbar-collapse --> 
      </nav>
    </div>
  </div>
</header>
<ul class="sub-menu">
<li><a href="/website/rentspace">Add Spaces</a></li>
  <li><a href="/website/myspacelist">My Spaces</a></li>
  <li><a href="/website/receivedbookings">Received Booking</a></li>
  <li class="active"><a href="/website/mybooking">My Booking</a></li>
</ul>
<div class="container-fluid">
  <h3>{{getdetails.title}}</h3>
  <p class="text-muted">{{getdetails.location}}</p>
<div id="googleMap" style="width:100%;height:200px;"></div>
  
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Summary</h4>
          <div class="col-sm-3">
            <div class="panel panel-success">
              <div class="panel-heading"><strong>Parking</strong></div>
              <div class="panel-body"> {{getdetails.parking_type}}</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-warning">
              <div class="panel-heading"><strong>Aminities</strong></div>
              <div class="panel-body">{{getdetails.amenties}}</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-info">
              <div class="panel-heading"><strong>Type</strong></div>
              <div class="panel-body"> {{getdetails.Type}} </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-danger">
              <div class="panel-heading"><strong>Space</strong></div>
              <div class="panel-body">{{getdetails.space_type}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Description</h4>
          <p>{{getdetails.description}}</p>
        </div>
      </div>
      <div class="card gallery">
        <div class="card-block">
          <h4 class="card-title">Gallery</h4>
          <div class="owl-carousel owl-theme">
            <div class="item">
              <a href="/website/img/gallery/large/1.jpg" data-lightbox="example-set" class=""><img class="img-responsive" src="website/img/gallery/1.png" alt=""/></a>
            </div>
            <div class="item">
              <a href="/website/img/gallery/large/1.jpg" data-lightbox="example-set"><img class="img-responsive" src="website/img/gallery/1.png" alt=""/></a>
            </div>
            <div class="item">
              <a href="/website/img/gallery/large/1.jpg" data-lightbox="example-set"><img class="img-responsive" src="website/img/gallery/1.png" alt=""/></a>
            </div>
            <div class="item">
              <a href="/website/img/gallery/large/1.jpg" data-lightbox="example-set"><img class="img-responsive" src="website/img/gallery/1.png" alt=""/></a>
            </div>
            <div class="item">
              <a href="/website/img/gallery/large/1.jpg" data-lightbox="example-set"><img class="img-responsive" src="website/img/gallery/1.png" alt=""/></a>
            </div>
            <div class="item">
              <a href="/website/img/gallery/large/1.jpg" data-lightbox="example-set"><img class="img-responsive" src="website/img/gallery/1.png" alt=""/></a>
            </div>
          </div>
           
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card reserv-details">
        <div class="card-block">
          <h4 class="card-title bg-primary text-center radius">Reservation Details</h4>
          <ul class="list-group">
            <li class="list-group-item"> From<span class="pull-right">{{startdate}}</span> </li>
            <li class="list-group-item"> To<span class="pull-right">{{enddate}}</span> </li>
             </li>
            <li class="list-group-item"> Price<span class="pull-right"><i class="fa fa-dollar"></i> {{totalamount}}</span> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Modal -->
<!-- Footer File Import Link -->
<% include ./partials/footer %>
<!-- Footer Ends -->
<!-- Bootstrap --> 
<script src="website/js/jquery-2.1.1.min.js"></script> 
<script src="website/js/lightbox-plus-jquery.min.js"></script> 
<script src="website/js/bootstrap-datetimepicker.min.js"></script> 
<script src="website/js/bootstrap.min.js"></script> 
<script src="website/js/owl.carousel.min.js"></script>
<script type="text/javascript">
	$('.form_datetime').datetimepicker({
		weekStart: 1,
		autoclose: 1,
		todayHighlight: 1,
    startDate: new Date(),
		startView: 2,
		forceParse: 0,
		showMeridian: 1
	});
</script>
<script type="text/javascript">
$("#newEndDate").change(function(){
  $("#confirm").show();
  $("#event").hide();
  var temp = $("#sdt").val();
  $(".final").attr("et",temp);
});
  $('.change-date').click(function(){
    $('#date-change-form').slideDown("slow");
  });
	$('.change-date').click(function(){
		$('#date-change-form').slideDown("slow");
	});
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
		dots:0,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
            loop:false
        }
    }
})
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6UApfqVf745fpHBgqQTbie7m9GaYqX-I&callback=myMap&libraries=places"></script>
</body>
</html>
