<!doctype html>
<html lang="en" ng-app="app">
<head>
<meta charset="utf-8">
<title>Hasty Parking | Free Parking</title>
<!-- Bootstrap -->
<link href="website/css/bootstrap.min.css" rel="stylesheet">
<link href="website/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link href="website/css/styles.css" rel="stylesheet">
<link href="website/css/responsive.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script type="text/javascript" src="website/js/angularjs/default/angular.min.js"></script>
<script type="text/javascript" src="website/js/angularjs/webjs/app.js"></script>
<script type="text/javascript" src="website/js/angularjs/webjs/designer/dropdown.js"></script>
<link href="website/css/alert_plug.css" rel="stylesheet">
<script src="website/js/alert_plug.js"></script>
</head>

<body>
<header>
  <div class="container-fluid">
    <div class="col-md-12">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Mobile Menu</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand logo text-uppercase" href="/website/index"><b>Hasty</b>Parking</a> </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <!--    <form class="navbar-form navbar-left">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Find your space...">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span> </div>
          </form> -->
          <ul class="nav navbar-nav navbar-right" ng-controller="dropdown_ctrl">  
            <li><a href="/website/index">Book Parking</a></li>
            <li><a href="/website/rentspace">Rent Your Space</a></li>
            <li class="active"><a href="/website/freeparking">Free Parking</a></li>
            <% include ./partials/headerUserProfile %>
          </ul>
        </div>
        <!-- /.navbar-collapse --> 
      </nav>
    </div>
  </div>
</header>
<div class="container-fluid share">
	<h2 class="text-center">SHARE HASTY PARKING WITH FRIENDS AND GET FREE PARKING</h2>
  <p class="text-center">When a friend signs up with your unique invitation code you'll receive parking credits, on us!</p>
</div>
<div class="container share-detail">
<div class="row">
	<div class="col-sm-4">
  	<div class="thumbnail">
      <img src="website/img/invite.jpg" class="img-responsive" alt="...">
      <div class="caption text-center">
        <h3>Invite Friend</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  	<div class="thumbnail">
      <img src="website/img/join.jpg" class="img-responsive" alt="...">
      <div class="caption text-center">
        <h3>Friend on board</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  	<div class="thumbnail">
      <img src="website/img/parking.jpg" class="img-responsive" alt="...">
      <div class="caption text-center">
        <h3>Get Free Park</h3>
      </div>
    </div>
  </div>
</div>
<p class="text-center" style="width:70%; margin:0 auto;">Each friend that signs up with your invitation promo code gets free parking when they sign up. Once they make their first parking reservation and spend over $10, you get another one free parking.</p>
<h3 class="text-center"><a href="login.ejs">login</a> <small>to start get free parking</small></h3>

</p>
</div>
<!-- Footer File Import Link -->
<% include ./partials/footer %>
<!-- Footer Ends -->
<!-- Bootstrap --> 
<script src="website/js/jquery-2.1.1.min.js"></script> 
<script src="website/js/bootstrap.min.js"></script> 
</body>
</html>
