<!doctype html>
<html lang="en" ng-app="app" ng-controller="signupController">
<head>
<meta charset="utf-8">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<meta name="google-signin-client_id" content="679066686193-rc42ioct0vf22e2hujn4k7jhj850k7bv.apps.googleusercontent.com">
<title>Hasty Parking | Details page</title>
<!-- Bootstrap -->
<link href="website/css/bootstrap.min.css" rel="stylesheet">
<link href="website/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link href="website/css/styles-1.css" rel="stylesheet">
<link href="website/css/styles-2.css" rel="stylesheet">
<link href="website/css/animate.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="website/css/lightbox.min.css">
<script type="text/javascript" src="website/js/angularjs/default/angular.min.js"></script>
<script type="text/javascript" src="website/js/angularjs/webjs/app.js"></script>
  <script type="text/javascript" src="website/js/angular-facebook.js"></script>
  <script type="text/javascript" src="website/js/angularjs/webjs/designer/signup.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer>
</script>
<script src="https://apis.google.com/js/client:platform.js" async defer>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src = "//connect.facebook.net/en_US/sdk.js"></script>
<link href="website/css/alert_plug.css" rel="stylesheet">
<script src="website/js/alert_plug.js"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<% include ./partials/headerLogin %>
    </div>
  </div>
</header>
<div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 margin-t-30">
        <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#login" role="tab" data-toggle="tab">Login</a></li>
    <li><a href="#register" data-toggle="tab">Register</a></li>
        </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="login">
          <form class="form" name="webLoginForm" ng-submit="webNormalLogin(webLoginForm.$valid)" method="post" id="login-nav">
                            <div class="form-group">
                               <label class="sr-only" for="exampleInputEmail2">Email address</label>
                               <input type="email" ng-model="webLoginForm.email" class="form-control" id="exampleInputEmail2" placeholder="Email address" name="email2" required><div class="error-msg" ng-show="webLoginForm.$submitted || webLoginForm.email.$touched">
          <p style="color:red;" ng-show="webLoginForm.email.$error.required">*This field is mandatory</p>
          <p style="color:red;" ng-show="(webLoginForm.email.$invalid && !webLoginForm.email.$pristine) || (webLoginForm.email.$touched && webLoginForm.email.$invalid )" class="help-block">Enter a valid email.</p>
        </div>
                            </div>
                            <div class="form-group">
                               <label class="sr-only" for="exampleInputPassword2">Password</label>
                               <input type="password" ng-model="webLoginForm.password" class="form-control" id="exampleInputPassword2" placeholder="Password" name="password2" required>
                                 <p style="color:red;" ng-show="(webLoginForm.password.$invalid && !webLoginForm.password.$pristine) || (webLoginForm.password.$touched && webLoginForm.password.$invalid )" class="help-block">Enter Password</p>
                                <div class="help-block text-right"><a href="/website/forgetpassword">Forget the password ?</a></div>
                            </div>
                            <div class="form-group">
                               <input type="submit" value="Log In" class="btn btn-primary btn-block">
                            </div>
                            <div class="checkbox">
                               <label>
                               <input type="checkbox"> keep me logged-in
                               </label>
                            </div>
                         </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="register">
        <form method="post" name="signupForm" ng-submit="signUp(signupForm.$valid)">
          <div class="form-group ">
            <label class="control-label "  for="name">First Name</label>
            <input class="form-control" ng-pattern="/^[a-zA-Z]*$/" required id="fname" ng-model="reg.fname" name="fname" type="text"/>
          <p style="color:red;" ng-show="(signupForm.fname.$invalid && !signupForm.fname.$pristine) || (signupForm.fname.$invalid && signupForm.fname.$touched)">This field is Mandatory</p>
          <span class="help-block" style="color:red"  ng-show="signupForm.fname.$error.pattern && signupForm.fname.$invalid">*First Name should contains only Alphabets and no Space.</span>
          </div>
          <div class="form-group">
            <label class="control-label "  for="name">Last Name</label>
            <input class="form-control" required ng-pattern="/^[a-zA-Z]*$/" id="lname" value="" ng-model="reg.lname" name="lname" type="text"/><p style="color:red;" ng-show="(signupForm.lname.$invalid && !signupForm.lname.$pristine) || (signupForm.lname.$invalid && signupForm.lname.$touched)">This field is Mandatory</p>
          <span class="help-block" style="color:red"  ng-show="signupForm.lname.$error.pattern && signupForm.lname.$invalid">*Last Name should contains only Alphabets and no spaces.</span>
          </div>
          <div class="form-group">
            <label class="control-label " for="email">Email</label>
             <input class="form-control" id="email" required ng-model="reg.email" name="email" type="email"/>
          <div class="error-msg" ng-show="signupForm.$submitted || signupForm.email.$touched">
          <p style="color:red;" ng-show="signupForm.email.$error.required">*This field is mandatory</p>
          <p style="color:red;" ng-show="(signupForm.email.$invalid && !signupForm.email.$pristine) || (signupForm.email.$touched && signupForm.email.$invalid )" class="help-block">Enter a valid email.</p>
        </div>
       </div>
        <div class="form-group">
        <div class="form-group" ng-class="{ 'has-error' : signupForm.password.$dirty && signupForm.password.$invalid }">
          <label class="control-label requiredField" for="password">password<span class="asteriskField">* </span></label>
          <input class="form-control" required id="password" ng-model="reg.password" name="password" type="password" password-verify="{{reg.c_password}}"/>          
          <div class="help-block" ng-messages="signupForm.password.$error" ng-if="signupForm.password.$dirty">  <p style="color:red;" ng-show="signupForm.password.$error.required">*This field is mandatory</p>
          <p style="color:red;" ng-show="required">This field is required</p>
          <p style="color:red;" ng-show="passwordVerify">No match!</p>
         </div>        
         </div>
         </div>
         
        <div class="form-group">
        <div class="form-group" ng-class="{ 'has-error' : signupForm.c_password.$dirty && signupForm.c_password.$invalid }">
          <label class="control-label" for="c_password">Confirm Password<span class="asteriskField">* </span></label>
          <input class="form-control" required id="c_password" ng-model="reg.c_password" name="c_password" type="password" password-verify="{{reg.password}}"/>
         
          <div class="help-block" ng-messages="signupForm.c_password.$error" ng-if="signupForm.c_password.$dirty">         
           <p style="color:red;" ng-show="signupForm.c_password.$error.required">*This field is mandatory</p>
          <p style="color:red;" ng-show="required">This field is required</p>
          <p style="color:red;" ng-show="passwordVerify">No match!</p>
        </div>
        </div>
      </div>

           <div class="form-group ">
            <label class="control-label " for="phone_number">Phone Number</label>
            <input class="form-control" required id="phone_number" ng-pattern="/^[0-9]{10,10}$/" ng-model="reg.phone_number" name="phone_number" type="text"/>
          <div class="error-msg" ng-show="signupForm.$submitted || signupForm.phone_number.$touched">
          <p style="color:red;" ng-show="signupForm.phone_number.$error.required">*This field is mandatory</p>
          <p style="color:red;" ng-show="signupForm.phone_number.$error.pattern">Enter valid Phone Number</p>
          </div>
          </div>
           <div class="checkbox">
            <label><input type="checkbox" value="">By registering you agree to <a href="#">Terms & conditions</a> and <a href="#">privacy policy</a></label>
          </div>
          <div class="form-group ">
           <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
          </form>
        </div>
      </div>    
    </div>
  </div>
</div>
<!-- Footer File Import Link -->
<% include ./partials/footer %>
<!-- Footer Ends -->
<!-- Bootstrap --> 
<script src="website/js/jquery-2.1.1.min.js"></script> 
<script src="website/js/lightbox-plus-jquery.min.js"></script> 
<!-- <script src="website/website/js/bootstrap-datetimepicker.min.js"></script>  -->
<script src="website/js/bootstrap.min.js"></script> 
</body>
</html>
