<!doctype html>
<html lang="en" data-ng-app="app" ng-controller="signupController">
<head>
<meta charset="utf-8">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<meta name="google-signin-client_id" content="679066686193-rc42ioct0vf22e2hujn4k7jhj850k7bv.apps.googleusercontent.com">
<title>Hasty Parking | Details page</title>
<!-- Bootstrap -->
<link href="website/css/bootstrap.min.css" rel="stylesheet">
<link href="website/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link href="website/css/styles-3.css" rel="stylesheet">
<link href="website/css/responsive.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="website/js/angularjs/default/angular.min.js"></script>
<script type="text/javascript" src="website/js/angular-facebook.js"></script>
<script type="text/javascript" src="website/js/angularjs/webjs/designer/signup.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer>
</script>
<script src="https://apis.google.com/js/client:platform.js" async defer>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src = "//connect.facebook.net/en_US/sdk.js"></script>
<link href="website/css/alert_plug.css" rel="stylesheet">
<script src="website/js/alert_plug.js"></script>
</head>

<body>
<% include ./partials/headerLogin %>
    </div>
  </div>
</header>
<div class="container">
  <form id="contact" method="post" name="otpSubmit" ng-submit="otpMatch_signup(otpSubmit.$valid)">
    <div class="card clearfix">
      <div class="card-title">
        <h3 class="head text-uppercase text-center">Enter your OTP Pin</h3>
      </div>
      <div class="col-sm-12">
        <div class="form-group col-sm-4 col-sm-offset-4">
          <input class="form-control" ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/" id="otpnumber" name="otpnumber" ng-model="otp.otpnumber" type="text" required/>
          <span style="color:red;" class="help-block" ng-show="otpSubmit.otpnumber.$error.pattern">*Enter a 5-digit valid OTP</span>
         <span class="help-block" style="color:red" ng-show="otpSubmit.otpnumber.$touched && otpSubmit.otpnumber.$invalid">*Please provide 5-digit OTP</span>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group text-center">
          <input class="btn btn-success" type="submit" value="Submit"/>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- Footer File Import Link -->
<% include ./partials/footer %>
<!-- Footer Ends -->
<!-- Bootstrap --> 
<script src="website/js/jquery-2.1.1.min.js"></script> 
<script src="website/js/bootstrap-datetimepicker.min.js"></script> 
<script src="website/js/bootstrap.min.js"></script> 
<script src="website/js/lightbox-plus-jquery.min.js"></script> 
</body>
</html>
