<!doctype html>
<html lang="en" data-ng-app="app" ng-controller="signupController">
<head>
<meta charset="utf-8">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<meta name="google-signin-client_id" content="679066686193-rc42ioct0vf22e2hujn4k7jhj850k7bv.apps.googleusercontent.com">
<title>Hasty Parking | Details page</title>
<!-- Bootstrap -->
<link href="website/css/bootstrap.min.css" rel="stylesheet">
<link href="website/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link href="website/css/styles-3.css" rel="stylesheet">
<link href="website/css/responsive.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="website/js/angularjs/default/angular.min.js"></script>
<script type="text/javascript" src="website/js/angular-facebook.js"></script>
<script type="text/javascript" src="website/js/angularjs/webjs/designer/signup.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer>
</script>
<script src="https://apis.google.com/js/client:platform.js" async defer>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src = "//connect.facebook.net/en_US/sdk.js"></script>
<link href="website/css/alert_plug.css" rel="stylesheet">
<script src="website/js/alert_plug.js"></script>
</head>
<body>
<!-- Header File import. When user is not Logged In  -->
<% include ./partials/headerLogin %></header>
<!-- Header Ends -->
<div class="container">
  <form id="contact"  method="post" name="submitFormReset" ng-submit="resetPass(submitFormReset.$valid)">
    <div class="card clearfix">
      <div class="card-title">
        <h3 class="head text-uppercase text-center">Reset your Password</h3>
      </div>

   <div class="row">
        <div class="form-group col-sm-4 col-sm-offset-4">
         <div class="form-group col-sm-12" ng-class="{ 'has-error' : submitFormReset.new_pass.$dirty && submitFormReset.new_pass.$invalid }">
          <label class="control-label requiredField" for="new_pass">New Password <span class="asteriskField">* </span> </label>
             <input class="form-control" required id="new_pass" ng-model="rstPass.new_pass" name="password" type="password" password-verify="{{rstPass.c_password}}"/>  

          <div class="help-block" ng-messages="submitFormReset.new_pass.$error" ng-if="submitFormReset.new_pass.$dirty">
          <p style="color:red;" ng-show="submitFormReset.new_pass.$error.required">*This field is mandatory</p>
          <p style="color:red;" ng-show="passwordVerify">No match!</p>
         </div> 
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-sm-offset-4">
        <div class="form-group col-sm-12" ng-class="{ 'has-error' : submitFormReset.c_password.$dirty && submitFormReset.c_password.$invalid }">
          <label class="control-label requiredField"  for="c_pass">Confirm Password <span class="asteriskField">* </span> </label>
          <input class="form-control" required id="c_password" ng-model="rstPass.c_password" name="c_password" type="password" password-verify="{{rstPass.new_pass}}"/>         
          <div class="help-block" ng-messages="submitFormReset.c_password.$error" ng-if="submitFormReset.c_password.$dirty">         
          <p style="color:red;" ng-show="required">This field is required</p>
          <p style="color:red;" ng-show="passwordVerify">No match!</p>
        </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group text-center">
          <input class="btn btn-success" type="submit"/>
        </div>
      </div>
    </div>
  </form>
</div>
<section>
<!-- Footer File Import Link -->
<% include ./partials/footer %>
<!-- Footer Ends -->
</section>
<!-- Bootstrap --> 
<script src="website/js/jquery-2.1.1.min.js"></script> 
<script src="website/js/bootstrap-datetimepicker.min.js"></script> 
<script src="website/js/bootstrap.min.js"></script> 
<script src="website/js/lightbox-plus-jquery.min.js"></script> 
</body>
</html>
