<!doctype html>
<html lang="en" ng-app="app" ng-controller="spacelist" ng-init="getspaces();">
<head>
<meta charset="utf-8">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hasty Parking | Parking List</title>
<!-- Bootstrap -->
<link href="website/css/bootstrap.min.css" rel="stylesheet">
<link href="website/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link href="website/css/styles.css" rel="stylesheet">
<link href="website/css/responsive.css" rel="stylesheet">
<link href="website/css/animate.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script type="text/javascript" src="website/js/angularjs/default/angular.min.js"></script>
<link href="website/css/alert_plug.css" rel="stylesheet">
<script src="website/js/alert_plug.js"></script>
<script type="text/javascript" src="website/js/angularjs/webjs/app.js"></script>
<script type="text/javascript" src="website/js/angularjs/webjs/designer/indexMain.js"></script>
<script type="text/javascript" src="website/js/angularjs/webjs/designer/spacelist.js"></script>
<script type="text/javascript" src="website/js/angularjs/webjs/designer/dropdown.js"></script>
 </script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
    function initAutocomplete() {

      var input = document.getElementById('search_loc');
      var searchBox = new google.maps.places.SearchBox(input);
      searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode( {'address': places[0].formatted_address}, function(results, status) {
          if (status == 'OK') {
            var lat = results[0].geometry.location.lat();
            var lng = results[0].geometry.location.lng();
            console.log("Latitude"+lat);
            console.log("Longitude"+lng);
            $('.latlng').attr("latitude",lat);
            $('.latlng').attr("longitude",lng);         
          }
          else 
          {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
        if (places.length == 0) {
          return;
        }
       });
    }
  </script>
<script>

function myMap() 
    {
          console.log(' after hi hello');
          app.controller('spacelist',['$scope','$http',function($scope,$http){
    
          $scope.getspaces = function() {
            
             $http({
                method  : 'POST',
                url     : __appurl + "website/getspacedetails",
                data    : {status:"1"},
                headers : { 'Content-Type': 'application/json' }  
            })
            .success(function(data) { 
               if(data.status == true){
               // console.log(data.Searched_details.Searched_List); 
               $scope.searchdetails = data.Searched_details.Searched_List;
               $scope.lat=data.lat;
               $scope.long=data.long;
               console.log('lat'+$scope.lat+' long'+$scope.long);
               // console.log($scope.searchdetails[0].PlaceId);
               // console.log($scope.searchdetails[0].LocationName);
               console.log(data);
             //console.log($scope.searchdetails);
               //console.log(data.Searched_details.Searched_List.LocationName);
          
            var map;
            var bounds = new google.maps.LatLngBounds();
            var mapOptions = {
                mapTypeId: 'roadmap',
                mapTypeControl: true,
                mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                position: google.maps.ControlPosition.TOP_CENTER
                }, 
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                scaleControl: true,
                streetViewControl: true,
                streetViewControlOptions: {
                    position: google.maps.ControlPosition.LEFT_TOP
                },
                fullscreenControl: true
            };
                            
            // Display a map on the web page
            map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);
            map.setTilt(100);
            var infoWindow = new google.maps.InfoWindow(), marker,marker1,i;
                  
            console.log('Searched_details length-->'+$scope.searchdetails.length);
            // Place each marker on the map  
            for( i = 0; i < $scope.searchdetails.length; i++ )
             {

                console.log('Latlong->'+$scope.searchdetails[i].LatLong);
                console.log('Searched_details length-->'+$scope.searchdetails[i].PlaceId);
                var p_latlong=$scope.searchdetails[i].LatLong.split(',');
                var position = new google.maps.LatLng(p_latlong[0],p_latlong[1]);
                console.log('position->'+position);
                bounds.extend(position);
                marker1 = new google.maps.Marker({
                position: new google.maps.LatLng($scope.lat,$scope.long),
                map: map
                });


                if($scope.searchdetails[i].Searched_status=='no')
                { 

                  var pinIcon = new google.maps.MarkerImage(
                  "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FF0000",
                  null, /* size is determined at runtime */
                  null, /* origin is 0,0 */
                  null, /* anchor is bottom center of the scaled image */
                  new google.maps.Size(40, 60)
                    ); 

                    marker = new google.maps.Marker({
                      position: position,
                      map: map,
                      title:$scope.searchdetails[i].PlaceName+' '+$scope.searchdetails[i].LocationName});


                }
                else
                {
                  // var pinIcon = new google.maps.MarkerImage(
                  // "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|00FF00",
                  // null, /* size is determined at runtime */
                  // null, /* origin is 0,0 */
                  // null, /* anchor is bottom center of the scaled image */
                  // new google.maps.Size(40, 60)
                  //   ); 

                  marker = new google.maps.Marker({
                  position: position,
                  map: map,
                  title:$scope.searchdetails[i].PlaceName+' '+$scope.searchdetails[i].LocationName,
                  icon:pinIcon
                  });


                }
              
                // Add info window to marker    
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                    infoWindow.setContent('<div id="iw-container">'+
              '<div class="iw-title">'+$scope.searchdetails[i].PlaceName+'</div>'+
              '<div class="iw-content"> <div class="iw-subTitle">'+$scope.searchdetails[i].LocationName +'</div>' +
              '<div class="iw-subTitle">Price:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'+$scope.searchdetails[i].hourly+'</div>'+
              '<div class="iw-subTitle">Duration:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'+parseInt($scope.searchdetails[i].Duration)+' hrs</div>'
              +'<div class="iw-subTitle">Total Amount:&nbsp&nbsp&nbsp&nbsp $'+$scope.searchdetails[i].TotalAmount+'</div>');
                        infoWindow.open(map, marker);
                        console.log('infowindow'+infoWindow);
                        //  infowindow.close();
                    }
                })(marker, i));

                // Center the map to fit all markers on the screen
                map.fitBounds(bounds);
              }


                  var circle = new google.maps.Circle({
                  map: map,
                  radius: 2000.00,
                  strokeColor:"#00ff00",
                  strokeOpacity:3.6, 
                  fillColor: '#35f413',
                  fillOpacity:0.3 // 10 miles in metres
                  });
                  circle.bindTo('center', marker1, 'position');

              // Set zoom level
              var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
                  this.setZoom(13);
                  google.maps.event.removeListener(boundsListener);
              })
                }  else{
                  console.log(data);
              console.log("Outside Get Space")
                     notif({
                                    type: "success",
                                    msg: "Sorry! No Space is Available to your Request",
                                    position: "right"
                                  });
                            console.log("Sorry! No Space is Available to your Request");
            }
            });
        },
         $scope.getparkingid = function(placeid,latlng,amount,duration){
            console.log("testing"+placeid);
            console.log("llllldkfcm"+latlng);
            
              $http({
                method  : 'POST',
                url     : __appurl + "website/getparkingId",
                data    : {placeid:placeid,latlng:latlng,amount:amount,duration:duration},
                headers : { 'Content-Type': 'application/json' }  
            })
            .success(function(data) { 
             
                console.log(data);             
               
              
                window.location.href = 'spacedetails'

            })
             .error(function (data){
               console.log(data);
            });
        }
      }]);
}
</script>
</head>

<body class="search-result">
<header>
  <div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Mobile Menu</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand logo text-uppercase" href="/website/index"><b>Hasty</b>Parking</a> </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
          <ul class="nav navbar-nav navbar-right" ng-controller="dropdown_ctrl">  
            <li class="active"><a href="/website/index">Book Parking</a></li>
            <li><a href="/website/rentspace">Rent Your Space</a></li>
            <li><a href="/website/freeparking">Free Parking</a></li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user" style="margin-right:5px;"></i> {{datas.f_name}}<span class="glyphicon glyphicon-chevron-down"></span> </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="navbar-login">
                    <div class="row">
                      <div class="col-lg-4">
                        <p class="text-center"> <span class="glyphicon glyphicon-user icon-size"></span> </p>
                      </div>
                      <div class="col-lg-8">
                        <p class="text-left"><strong>{{datas.f_name}} {{datas.l_name}}</strong></p>
                        <p class="text-left small">{{datas.email}}</p>
                        <p class="text-left"> <a href="/website/profile" class="btn btn-primary btn-block btn-sm">Profile</a> </p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="divider navbar-login-session-bg"></li>
                <li><a href="resetpassword">resetpassword<span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                <li class="divider"></li>
                <li><a href="mybooking">Bookings <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
                <li><a href="#" ng-click="signout();">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse --> 
      </nav>
  </div>
</header>
<section class="filter col-xs-12" ng-controller="indexMain">
  <form method="post" novalidate name="searchForm" >
    <div class="form-group col-md-3 col-sm-3  col-xs-12">
      <input type="text" id="search_loc" class="col-md-4 col-sm-4 col-xs-12 form-control" placeholder="Enter your destination"  ng-model="map.search_loc">
    </div>
    <input type="hidden" ng-model="map.lat" name="lat" id="lat" >
          <input type="hidden" ng-model="map.lng" name="lng" id="lng" value=""/>
    <div class="form-group col-md-3 col-sm-3  col-xs-12">
      <div class="input-group date form_datetime"  data-date-format="dd MM yyyy - HH:ii p" data-link-field="sdt">
          <input class="form-control" size="10" type="text" value="" readonly name ="startTime" 
          id ="startTime" placeholder="Start Date & Time">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
      <input type="hidden" id="sdt" value="" ng-model="map.startTime"/>
    </div>
    <div class="form-group col-md-3 col-sm-3 col-xs-12">
      <div class="input-group date form_datetime" data-date-format="dd MM yyyy - HH:ii p" data-link-field="edt">
      <input class="form-control" size="10" type="text" value="" readonly name="endTime" id="endTime" placeholder="End Date & Time">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
      <input type="hidden" id="edt" value="" ng-model="map.endTime"/>
    </div>
               <input type="button" latitude ="" longitude = "" st="" et="" ng-click="searchInput(searchForm.$valid,$event)" ng-click="spacedetails();" class="col-md-2 col-sm-2  col-xs-12 btn btn-green latlng "  placeholder="Search" value="Search">
  </form>
</section>
<div class="search-result">
  <div class="search-list">
    <h4 class="text-center">Searched  Result</h4>
    <ul>
      <li class="search-item" ng-repeat="data in searchdetails">
        <span class="search-img"><img src="website/img/thumb1.png" alt=""></span>
        <span class="search-info">
          <span class="name"><a href="#">{{data.PlaceName}} ,{{data.LocationName}}</a></span>
          
          <br/><br/><br/>
          <span class="booking">
            <input type = "button" class="btn btn-primary" value = "${{data.TotalAmount}} | Reserve" ng-click="getparkingid(data.PlaceId,data.LatLong,data.TotalAmount,data.Duration);" lattitudelong =" {{data.LatLong}}" placeid = "{{data.PlaceId}}"> 
          </span>
        </span>
      </li>

    </ul>
  </div>
 <div class="search-map" id="googleMap" style="border: 1px solid grey; position: relative; width: 69.7%;height:450px;">
   <!--  <img src="website/img/map.png" alt="" usemap="#Map"> -->
    <!-- <map name="Map">
      <area shape="poly" coords="317,267"  data-toggle="modal" data-target="#list-details">
      <area shape="rect" coords="66,276,97,322"  data-toggle="modal" data-target="#list-details">
      <area shape="rect" coords="399,257,431,297"  data-toggle="modal" data-target="#list-details">
      <area shape="rect" coords="299,154,343,199"  data-toggle="modal" data-target="#list-details">
      <area shape="rect" coords="426,174,474,214"  data-toggle="modal" data-target="#list-details">
      <area shape="rect" coords="319,264,347,303"  data-toggle="modal" data-target="#list-details">
      <area shape="rect" coords="475,304,504,346"  data-toggle="modal" data-target="#list-details">
      <area shape="rect" coords="450,354,481,396"  data-toggle="modal" data-target="#list-details">
      <area shape="rect" coords="241,69,294,113"  data-toggle="modal" data-target="#list-details">
      <area shape="rect" coords="38,134,68,176"  data-toggle="modal" data-target="#list-details">
      <area shape="rect" coords="280,452,309,492"  data-toggle="modal" data-target="#list-details">
      <area shape="rect" coords="396,474,427,523"  data-toggle="modal" data-target="#list-details">
      <area shape="rect" coords="370,514,395,552"  data-toggle="modal" data-target="#list-details">
      <area shape="rect" coords="484,553,518,897"  data-toggle="modal" data-target="#list-details">
    </map> -->

  </div>
</div>
<section style="position: relative;">
<% include ./partials/footer %>
<section>
<!--<div class="modal fade in" id="list-details">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="top-area">
          <div class="search-img"> <span class="wrapper-thumbnail"> <img class="full" src="website/img/thumb1.png"> </span> </div>
          <div class="search-info left">
            <div class="row">
              <div class="col-xs-12">
                <h3 class="margin-t-0">Space Title</h3>
                <div class="location-details-address"> 35 E 61st St <br> New York, NY 10065 </div>
                <span class="distance">1.2 miles away</span> 
              </div>
            </div>
            <div class="row-buttons">
              <a href="#" class="btn btn-primary text-center"><i class="fa fa-rupee"></i> 250.00 | Reserve </a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div> -->
<!-- Bootstrap --> 
<script src="website/js/jquery-2.1.1.min.js"></script> 
<script src="website/js/bootstrap-datetimepicker.min.js"></script> 
<script src="website/js/bootstrap.min.js"></script> 
<script src="website/js/owl.carousel.min.js"></script> 

<script>
// $("#search_loc").change(function(){
//   initAutocomplete();
// })
$('#startTime').change(function(){
        var st = $("#sdt").val();
        console.log(st);
        $(".latlng").attr("st",st);
    });
    $('#endTime').change(function(){
        var et = $("#edt").val();
        $(".latlng").attr("et",et);
    });
    $(".form_datetime").datetimepicker({
        weekStart: 1,
        autoclose: 1,
        startDate: new Date(),
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    })
    $('.wrap-map img').click(function(){
      $('#list-item-details').fadeIn();
    });
    $('.modal-header button').click(function(){
      $('#list-item-details').css("display","none");
    });

  $(window).scroll(function() {
  if ($(this).scrollTop() > 100){  
      $('.filter').addClass("sticky");
    }
    else{
      $('.filter').removeClass("sticky");
    }
  });

</script>
<script src="website/js/css3-animate-it.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALmyvbxTeHniApMUL9_raFGgCnz4d0Xbg&callback=myMap&">
 </script>
 <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyALmyvbxTeHniApMUL9_raFGgCnz4d0Xbg&libraries=places&callback=initAutocomplete"></script>


 <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClBSroLa7RsLQh5eYmLrzGhxS3vLniS0o&callback=myMap&libraries=places"
 async defer></script> -->
</body>
</html>
