<!doctype html>
<html lang="en" ng-app="app" ng-controller="spacedetails" ng-init ="getDetails();">
<head>
<meta charset="utf-8">
<title>Hasty Parking | Space Booking</title>
<!-- Bootstrap -->
<link href="website/css/bootstrap.min.css" rel="stylesheet">
<link href="website/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link href="website/css/styles.css" rel="stylesheet">
<link href="website/css/responsive.css" rel="stylesheet">
<link href="website/css/animate.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script src="website/js/jquery-2.1.1.min.js"></script>
<script src="website/js/bootstrap-datetimepicker.min.js"></script>
<script src="website/js/bootstrap.min.js"></script>
<script src="website/js/owl.carousel.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script type="text/javascript" src="website/js/angularjs/default/angular.min.js"></script>
<link href="website/css/alert_plug.css" rel="stylesheet">
<script src="website/js/alert_plug.js"></script>
<script type="text/javascript" src="website/js/angularjs/webjs/app.js"></script>
<script type="text/javascript" src="website/js/angularjs/webjs/designer/dropdown.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
app.controller('spacedetails',['$scope','$http',function($scope,$http)
{
     $scope.getDetails = function()
          {
            var token = localStorage.getItem("token"); 
            console.log("Token"+token);

            console.log('get Details');
             $http({
                method  : 'POST',
                url     : __appurl + "website/getparkingdetails",
                data    : {status:"1"},
                headers : { 'Content-Type': 'application/json' }  
            })
            .success(function(data)
             { 

                //console.log('startdate-->'+data.startdate);
               console.log('testing'+ data.Searched_details[0]);
               console.log(data.Searched_details[0].title);
               $scope.getdetails = data.Searched_details[0];
               $scope.startdate = data.startdate;
               $scope.enddate = data.enddate;
               $scope.totalhours = data.duration;
               $scope.totalamount = data.amount;
               console.log('duration-->'+$scope.totalhours+' totalamount'+$scope.totalamount);

               console.log('get details-->'+$scope.getdetails.title);
               console.log($scope.startdate);
               console.log($scope.enddate);
            });

            $http({
                  method  : 'POST',
                  url     : __appurl + "website/getallVehicleDetails",
                  data    : {token:token},
                  headers : { 'Content-Type': 'application/json' }  
              })
              .success(function(data)
              {
                if(data.status)
                {
                  console.log(data);
                  $scope.vehicledetails=data.vehicleDetails;
                  console.log($scope.vehicledetails[0]);
                }

              });
              
              $http({
                  method  : 'POST',
                  url     : __appurl + "website/cardDetails",
                  data    : {token:token},
                  headers : { 'Content-Type': 'application/json' }  
              })
              .success(function(data)
              {
                console.log('called cardDetails');
                if(data.status)
                {
                  console.log(data);
                  $scope.cardDetails=data.cardDetails;
                  console.log($scope.cardDetails);
                }

              }); 

        },

        $scope.booking=function(PlaceId)
        {   
                var token = localStorage.getItem("token"); 
                console.log("Token"+token);
                console.log('called booking in ajax');
                console.log(PlaceId+' '+$scope.vehicleNumber+' '+$scope.vehicleInsuranceNumber+' '+$scope.vehicleModel);
             $http({
                method  : 'POST',
                url     : __appurl + "website/booking",
                data    : {token:token,PlaceId:PlaceId,vehicle_number:$scope.vehicleNumber,insurance_number:$scope.vehicleInsuranceNumber,model_number:$scope.vehicleModel},
                headers : { 'Content-Type': 'application/json' }  
            })
            .success(function(data)
             {
              console.log(data);
                if(data.status)
                {
                  console.log('Order id-->'+data.orderId);
                  $scope.orderId=data.orderId;
//                  window.location='paymentsuccessful';
                }

             }) 

        },
        $scope.addvehicle=function()
        {   
            
                var token = localStorage.getItem("token"); 
                console.log("Token"+token);
                console.log('called booking in ajax');
              
             $http({
                method  : 'POST',
                url     : __appurl + "website/addvehicle",
                data    : {token:token,vehicleNumber:$scope.vehicleDtls.vehicleNumber,vehicleInsuranceNumber:$scope.vehicleDtls.vehicleInsuranceNumber,vehicleModel:$scope.vehicleDtls.vehicleModel},
                headers : { 'Content-Type': 'application/json' }  
            })
            .success(function(data)
             {
                if(data.status)
                {
                      console.log(data);
                       $scope.vehicleNumber=$scope.vehicleDtls.vehicleNumber;
                        $scope.vehicleInsuranceNumber=$scope.vehicleDtls.vehicleInsuranceNumber;
                        $scope.vehicleModel=$scope.vehicleDtls.vehicleModel;
                        notif({
                      type: "success",
                      msg: data.message+', click on next',
                      position: "right"
                    });
                }
                else
                {
                    notif({
                      type: "success",
                      msg: data.messages,
                      position: "right"
                    });
                }

             })
          
        },
        $scope.callpayment=function()
        {   
            
            console.log('called payment');
            $http({
                  method  : 'POST',
                  url     : __appurl + "website/payment",
                  data    : {status:"1"},
                  headers : { 'Content-Type': 'application/json' }  
              })
              .success(function(data)
              {
                console.log(data);
                if(data.status)
                {

                }

              });
        },
        $scope.clickVehicle=function(vehicleNumber,vehicleInsuranceNumber,vehicelModel){

          console.log(vehicleNumber+' '+vehicleInsuranceNumber+' '+vehicelModel);
          $scope.vehicleNumber=vehicleNumber;
          $scope.vehicleInsuranceNumber=vehicleInsuranceNumber;
          $scope.vehicleModel=vehicelModel;
        },
          $scope.clickCard=function(customerId,cardNumber,expMonth,expYear){
            console.log('clickcard');
            console.log(customerId+' '+cardNumber+' '+expMonth+' '+expYear);
            $scope.customerId=customerId;
            $scope.cardNumber=cardNumber;
            $scope.expMonth=expMonth;
            $scope.expYear=expYear;
            $scope.customerId=customerId;
        },
        $scope.payment=function()
        {
            console.log('called payment');
            console.log('customerId'+$scope.customerId+' orderId'+$scope.orderId)
            $http({
                  method  : 'POST',
                  url     : __appurl + "website/payment",
                  data    : {customerId:$scope.customerId,orderId:$scope.orderId},
                  headers : { 'Content-Type': 'application/json' }  
              })
              .success(function(data)
              {
                console.log(data);
                if(data.status)
                {
                    console.log(data);
                    window.location.href='paymentsuccessful';
                }

              });


        }

}])
</script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<header>
  <div class="container-fluid">
    <div class="col-md-12">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Mobile Menu</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand logo text-uppercase" href="/website/index"><b>Hasty</b>Parking</a> </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Find your space...">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span> </div>
          </form>
          <ul class="nav navbar-nav navbar-right" ng-controller="dropdown_ctrl">  
            <li class="active"><a href="/website/index">Book Parking</a></li>
            <li><a href="/website/rentspace">Rent Your Space</a></li>
            <li><a href="/website/freeparking">Free Parking</a></li>
           <% include ./partials/headerUserProfile %>
          </ul>
        </div>
        <!-- /.navbar-collapse --> 
      </nav>
    </div>
  </div>
</header>
<div class="container-fluid">
	<h3 class="text-center text-uppercase">Book your space</h3>
  <div class="row">
    <div class="board">
    <form class="form-horizontal">
      <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
      <div class="board-inner">
        <ul class="nav nav-tabs" id="myTab">
          <div class="liner"></div>
          <li class="home active"><a href="#" title=""> <span class="round-tabs one"> <i class="fa fa-list-alt"></i> </span> </a></li>
          <li class="vehicle"><a class="" href="#" title=""> <span class="round-tabs two"> <i class="fa fa-car"></i> </span> </a> </li>
          <li class="booking"><a href="#" title=""> <span class="round-tabs four"> <i class="fa fa-money" aria-hidden="true"></i> </span> </a></li>
          <li class="card"><a href="#" title=""> <span class="round-tabs three"> <i class="fa fa-credit-card"></i> </span> </a> </li>
        </ul>
      </div>
      <div class="tab-content">
          <div class="tab-pane fade in active" id="home">
          <h4 class="head text-center">{{getdetails.title}}</h4>
          <ul class="list-group col-md-8 col-md-offset-2">
            <li class="list-group-item"> Location<span class="pull-right"><strong>{{getdetails.location}}</strong></span> </li>
            <li class="list-group-item"> Start Date and Time<span class="pull-right"><strong>{{startdate}}</strong></span> </li>
            <li class="list-group-item"> End Date and Time<span class="pull-right"><strong>{{enddate}}</strong></span> </li>
            <li class="list-group-item"> Duration<span class="pull-right"><strong>{{totalhours}}</strong></span> </li>
            <li class="list-group-item"> Price<span class="pull-right"><strong><i class="fa fa-dollar"></i> {{totalamount}}</strong></span> </li>
          </ul>
          <div class="col-md-12 text-center"><a href="#add-vehicle" onClick="$('.vehicle').addClass('active')" class="btn btn-success" data-toggle="tab">Proceed</a></div>
        </div>
        <div class="tab-pane fade" id="add-vehicle">
          <div class="col-sm-6">
            <h4 class="head text-center">Vehicle List</h4>
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Vehicle Number</th>
                  <th>Insurance Number</th>
                  <th>Model Number</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data1 in vehicledetails">
                  <th>
                    <label class="control control--radio">
                      <input type="radio" name="vehicle" ng-model="result" id="vehicle{{$index}}" ng-change="clickVehicle(data1.vehicleNumber,data1.vehicleInsuranceNumber,data1.vehicleModel)" value="{{data1}}">
                      <div class="control__indicator"></div>
                    </label>
                  </th>
                  <td><label for="vehicle{{$index}}">{{data1.vehicleNumber}}</label></td>
                  <td><label for="vehicle{{$index}}">{{data1.vehicleInsuranceNumber}}</label></td>
                  <td><label for="vehicle{{$index}}">{{data1.vehicleModel}}</label></td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-6">
            <h4 class="head text-center">Add Vehicle</h4>
            <div class="form-group">
              <div class="col-md-12">
                <input id="vehicle-number" name="vehicle-number" ng-model="vehicleDtls.vehicleNumber" type="text" placeholder="Vehicle Number" class="form-control input-md" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <input id="insurance-number" name="insurance-number" ng-model="vehicleDtls.vehicleInsuranceNumber" type="text" placeholder="Insurance Number" class="form-control input-md" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <input id="model-number" name="model-number" ng-model="vehicleDtls.vehicleModel" type="text" placeholder="Model Number" class="form-control input-md" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4 ">
                <a href="#home" onClick="$('.vehicle').removeClass('active')" data-toggle="tab" class="btn btn-primary">Back</a>
              </div>
              <div class="col-md-4">
                <a class="btn btn-success" ng-click="addvehicle();" data-toggle="tab">Add Vehicle</a>
              </div>
              <div class="col-md-4">
                <a class="btn btn-success" onClick="$('.booking').addClass('active')" href="#booking" data-toggle="tab">next</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="booking">
          <h4 class="head text-center">{{getdetails.Title}}</h4>
          <div class="col-md-6">
        	<ul class="list-group">
            <li class="list-group-item"> Location<span class="pull-right"><strong>{{getdetails.location}}</strong></span> </li>
            <li class="list-group-item"> Start Date and Time<span class="pull-right"><strong>{{startdate}}</strong></span> </li>
            <li class="list-group-item"> End Date and Time<span class="pull-right"><strong>{{enddate}}</strong></span> </li>
            <li class="list-group-item"> Duration<span class="pull-right"><strong>{{totalhours}}hours</strong></span> </li>
            <li class="list-group-item"> Vehicle Number<span class="pull-right"><strong>{{vehicleNumber}}</strong></span> </li>
            <li class="list-group-item"> Insurance Number<span class="pull-right"><strong>{{vehicleInsuranceNumber}}</strong></span> </li>
            <li class="list-group-item"> Model Number<span class="pull-right"><strong>{{vehicleModel}}</strong></span> </li>
          </ul>
          </div>
          <div class="col-md-6">
        	<ul class="list-group">
            <li class="list-group-item"> Price<span class="pull-right"><strong><i class="fa fa-dollar" ng-model="amount"></i> {{totalamount}}</strong></span> </li>
            <li class="list-group-item"> Promo Code<span class="pull-right"><input type="text" maxlength="6"></span> </li>
            <li class="list-group-item"> Offer Price<span class="pull-right"><strong><i class="fa fa-dollar"></i> 00.00</strong></span> </li>
          </ul>
          <div class="col-md-12 text-center">
          	<a href="#add-vehicle" onClick="$('.booking').removeClass('active')" data-toggle="tab" class="btn margin-r-10 btn-primary">Back</a>
            <a onClick="$('.card').addClass('active')" href="#add-card" data-toggle="tab" ng-click="booking(getdetails._id);" class="btn btn-success">Book my space</a></div>
          </div>
        </div>

        <div class="tab-pane fade" id="add-card">
          <h4 class="head text-center">Choose Card</h4>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>#</th>
                <th>Card Number</th>
                <th>Exp Date</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in cardDetails">
                <th>
                  <label class="control control--radio">
                    <input type="radio" name="card" ng-model="result" id="card{{$index}}" ng-change="clickCard(data.c_Id,data.cardnumber,data.expMonth,data.expYear)" value="{{data1}}">
                    <div class="control__indicator"></div>
                  </label>
                </th>
                <td><label for="card{{$index}}">xxxx-xxxx-xxxx-{{data.cardnumber}}</label></td>
                <td><label for="card{{$index}}">{{data.expMonth}}-{{data.expYear}}</label></td>
              </tr>
            </tbody>
          </table>
          <div class="form-group">
            <div class="text-right">
              <a href="#booking" onClick="$('.card').removeClass('active')" data-toggle="tab" class="btn btn-primary">Back</a>   
              <a class="btn btn-success" type="submit"  ng-click="payment();" data-toggle="tab">Make payment</a>
              <a><form action="/website/payment_with_card" method="post">
  <script
   src="https://checkout.stripe.com/checkout.js"
   class= "stripe-button"
   data-key ="pk_test_Gww8NXPxrdRMFK1Xd1NRqSg1"
   data-amount=""
   data-name ="payment details"
   data-description ="payment through stripe"
   data-locale = "auto"
   data-currency = "usd"
   >
  </script>
  <input type="hidden" name="chargeAmount" value="{{totalamount}}">
  </form></a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </form>
    
  
    </div>
  </div>
</div>
<footer>
	<div class="container-fluid">
    	<div class="col-md-6 col-sm-6 col-xs-12"><p class="text-left">Copyright &copy; 2017 Hasty Parking</p></div>
      <div class="col-md-6 col-sm-6 col-xs-12">
    	  <ul class="text-right social">
          <li><a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span></a></li>
          <li><a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span></a></li>
          <li><a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x"></i>
            </span>
            </a></li>
          <li><a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
            </a></li>
        </ul>
        </div>
    </div>
</footer>
<!-- Bootstrap --> 
<script src="js/jquery-2.1.1.min.js"></script> 
<script src="js/lightbox-plus-jquery.min.js"></script> 
<script src="js/bootstrap-datetimepicker.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script type="text/javascript">
        $(function() {              
           // Bootstrap DateTimePicker v4
           $('#exp_date').datetimepicker({
								 format: 'mm-yyyy',
                startView: 'decade',
                minView: 'year',
                autoclose: true
           });
        });      
    </script>
</body>
</html>
